<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
join page
<form id="registerForm">
    <input type="text" id="userName" placeholder="Username"/>
    <input type="password" id="password" placeholder="Password"/>
    <input type="text" id="userNick" placeholder="Name"/>
    <input type="submit" value="Join"/>
</form>

<script>
    document.getElementById('registerForm').addEventListener('submit', function(event) {
        event.preventDefault(); // 폼 제출 방지

        var formData = {
            userName: document.getElementById('userName').value,
            password: document.getElementById('password').value,
            userNick: document.getElementById('userNick').value
        };

        // AJAX 요청 보내기
        fetch('/registerProc', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // 서버로부터 받은 응답 처리
                })
                .catch(error => {
                    console.error('Error:', error);
                });
    });
</script>
</body>
</html>