<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
mainpage
<hr>
{{id}}
{{role}}
<input type="button" value="login" onclick="location.href='/login'">
<input type="button" value="register" onclick="location.href='/register'">
</body>
</html>