/* basic.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #e0e0e0;
}

header, footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 1rem 0;
    width: 100%; /* Make sure header and footer span the full width */
    position: fixed; /* Fix header and footer to the top and bottom */
    left: 0;
}

header {
    top: 0;
    border-bottom: 2px solid #333;
}

footer {
    bottom: 0;
    border-top: 2px solid #333;
}
