/* basic.css */

/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #e0e0e0;
}

/* 헤더 스타일 */
header {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 2px solid #333;
    height: 60px; /* 헤더 높이 */
}

/* 푸터 스타일 */
footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    border-top: 2px solid #333;
    height: 60px; /* 푸터 높이 */
}

/* 컨텐츠 영역 스타일 */
.content {
    padding-top: 60px; /* 헤더 높이만큼 패딩 */
    padding-bottom: 60px; /* 푸터 높이만큼 패딩 */
}
